.contact-me{
    padding: 50px;
}
/***
=============================================
    BREADCRUMB STYLE
=============================================
***/
.breadcrumb-area {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 104px 0 110px;
  position: relative;
}
.breadcrumb-area::before {
  background: rgba(0, 0, 0, 0.27) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.breadcrumbs_path {
  color: #fff;
  margin-top: 8px;
  position: relative;
  z-index: 9;
}
.breadcrumbs_path > a {
  color: #fff;
  transition: all 0.3s ease 0s;
}
.breadcrumbs_path > a:hover{
  color:  #00A388;
}
.breadcrumb-area h1 {
  color: #ffffff;
  font-size: 33px;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  text-transform: uppercase;
}
/***
=============================================
    CONTACT FORM
=============================================
***/
.contact-form-area .section-title:after {
  display: none;
}
.contact-form-area .contact-form {
margin-bottom: 50px;
}
.contact-form-area .contact-form form input[type="text"],
.contact-form-area .contact-form form input[type="email"],
.contact-form-area .contact-form form textarea{
  border: 1px solid #f4f4f4;
  display: block;
  font-size: 16px;
  height: 55px;
  margin-bottom: 30px;
  padding: 0 20px;
  width: 100%;
  transition: all 500ms ease;
}
.contact-form-area .contact-form form textarea{
  height: 122px;
  margin-bottom: 30px;
  padding: 10px 20px;
}
.contact-form-area .contact-form form input[type="text"]:focus{
  border-color: #00A388;
}
.contact-form-area .contact-form form input[type="email"]:focus{
  border-color: #00A388;
}
.contact-form-area .contact-form form textarea:focus{
  border-color: #00A388;
}
.contact-form-area .contact-form form button {
  background: #222 none repeat scroll 0 0;
  border: 2px solid transparent;
  line-height: 20px;
  padding: 13px 0;
  right: 0;
  width: 35%;
}
.contact-form-area .contact-form form button:hover{
  color: #fff ;
  background: #00A388 ;
}
.contact-form-area .form-right-box{
    background: #f7f7f7;
    padding-top: 40px;
    padding-bottom: 37px;
}
.contact-form-area .form-right-box .img-box {
    display: block;
    margin-bottom: 23px;
}
.contact-form-area .form-right-box h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 5px;
}
.contact-form-area .form-right-box span {
    color: #00A388;
}
.contact-form-area .form-right-box p {
    margin: 9px 0 5px;
}

.contact-form-area .form-right-box .border {
    height: 1px;
    width: 60px;
    display: inline-block;
    background: #e3e3e3;
}
.contact-form-area .form-right-box .social-links {
    display: block;
    margin: 18px 0 0;
}
.contact-form-area .form-right-box .social-links li{
    display: inline-block;
    margin: 0 10px;
}
.contact-form-area .form-right-box .social-links li a i{
    font-size: 16px;
    color: #999;
    transition: all 500ms ease;
}
.contact-form-area .form-right-box .social-links li a:hover i{
    color: #00A388;
}
.footer-contact-info {
  background: #00A388 none repeat scroll 0 0;
  border: 1px solid #00A388;
  overflow: hidden;
  padding: 25px 30px 0;
}
.footer-contact-info ul{}
.footer-contact-info ul li {
  display: inline-block;
  float: left;
  margin-right: 30px;
  padding-right: 30px;
  position: relative;
  padding-top: 4px;
  padding-bottom: 30px;
}
.footer-contact-info ul li:last-child{
  margin-right: 0;
  border-right: none;
  padding-right: 0;
}
.footer-contact-info ul li .iocn-holder {
  border: 1px dashed #fff;
  border-radius: 50%;
  width: 48px;
}
.footer-contact-info ul li .iocn-holder span {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  color: #00A388;
  display: block;
  font-size: 24px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  text-align: center;
  transition: all 500ms ease 0s;
  width: 48px;
}
.footer-contact-info ul li .iocn-holder span.top-envelop {
  font-size: 40px;
}
.footer-contact-info ul li:hover .iocn-holder span {
  color: #2b2c36;
}
.footer-contact-info ul li .iocn-holder, .footer-contact-info ul li .text-holder{
  display: table-cell;
  vertical-align: middle;
  color: #61888e;
}
.footer-contact-info ul li .text-holder {
  padding-left: 10px;
}
.footer-contact-info ul li .text-holder h6 {
  color: #fff;
  font-family: montserrat;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 5px;
  text-transform: capitalize;
}
.footer-contact-info ul li .text-holder p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}
.footer-contact-info .title p {
  color: #fff;
  margin: 6px 0 15px;
}
.footer-contact-info .title > h4 {
  color: #fff;
}

.thm-btn {
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 800;
  line-height: 50px;
  padding: 0 29px;
  position: relative;
  right: -21px;
  border: 1px solid #3baed4;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  z-index: 1;
}
.thm-btn:hover{
  color: #fff;
}
.bg-clr1{
  background: #3baed4;
  color: #fff;
}
.page-header {
    padding-bottom: 0px!important;
    margin: 0px!important;
    border-bottom: none!important;
}