.FrontNews{

    overflow: hidden;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.FrontNews ul{
    list-style-type: none;
    list-style-image: none;
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    display: block;
}

.FrontNews .newslist-01{
    text-align: left;
}

.FrontNews .newstitle {
    border-bottom: #eee 1px dashed;
    padding-bottom: 4px;
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
}
.FrontNews a:hover{
    text-decoration: underline;
}
.FrontNews li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.FrontNews LI {
    list-style-type: none;
    list-style-image: none;
}
.FrontNews .content {
    overflow: hidden;
}
.FrontNews .column-num1 {
    width: 100%;
}
.FrontNews .newstitle UL {
    width: 100%;
    height: 18px;
    clear: both;
}
.FrontNews .newstitle LI {
    text-align: left;
    padding-right: 15px;
    white-space: nowrap;
}
.FrontNews .title {
    float: left;
}
.FrontNews .date {
    width: 170px;
    float: right;
    margin-right: 40px;
    color: #87a4ac;
    font-size: 14px;
}
.FrontNews .newstitle LI H3 {
    padding-left: 12px;
    display: inline;
    color: #333333;
    font-size: 14px;
    font-weight: normal;
}
.FrontNews .newstitle LI {
    text-align: left;
    padding-right: 15px;
    white-space: nowrap;
}

.newsContent{
    margin: 50px 5px;
}
.newsContent h2 {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: #322725;
    line-height: 30px;
}
.newsContent .message {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px dashed #666;
}
.newsContent .summary {
    clear: both;
    margin-top: 20px;
}
.newsContent .htmledit {
    font-size: 14px;
    line-height: 26px;
    color: #666;
}
.newsContent .describe {
    clear: both;
    padding-top: 20px;
    *padding-top: 0;
    line-height: 20px;
    text-indent: 2em;
}
.newsContent .operate {
    margin: 20px 0 0 0;
}
