<!DOCTYPE html>
<!--[if lt IE 7]> <html data-color="#00a388" class="no-js ie6 oldie btn-rounded btn-3d blank-true" > <![endif]-->
<!--[if IE 7]>    <html data-color="#00a388" class="no-js ie7 oldie btn-rounded btn-3d blank-true" > <![endif]-->
<!--[if IE 8]>    <html data-color="#00a388" class="no-js ie8 oldie btn-rounded btn-3d blank-true" > <![endif]-->
<!--[if IE 9]>    <html data-color="#00a388" class="no-js ie9 oldie btn-rounded btn-3d blank-true" > <![endif]-->
<!--[if gt IE 9]><!-->
<!--<![endif]-->

<html data-color="#00a388" class="no-js btn-rounded btn-3d blank-true">
{% load  static %}
<head>

    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- LINK TAGS -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen" />
    <link rel='stylesheet' href='{% static 'css/js_composer.css' %}' type='text/css' media='all' />
    {% block custom_css %}{% endblock %}
    <title>{% block title %}Home{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
</head>

<body class="page page-id-156 page-template-default wpb-js-composer js-comp-ver-4.4.4 vc_responsive">
<!-- general wrap start -->
<div id="gen-wrap">
    <!-- wrap start -->
    <div id="wrap" class="nz-wide">

        <header class="header mob-header mob-height-90 mob-int-true mob-sidebar-true mob-search-true">

            <div class="logo-toggle">

                <div class="container nz-clearfix">

                    <div class="logo logo-mob">
                        <a href="#" title="Mobilz &#8211; Multipurpose HTML Them">
                            <img style="max-width:149px;max-height:36px;" src="{{MEDIA_URL}}{{ system.company.logo }}" alt="Mobilz &#8211; Multipurpose Wordpress Them">
                        </a>
                    </div>

                    <div class="sidebar-toggle" title="Open sidebar">
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </div>

                    <div class="menu-toggle" title="Toggle menu">
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </div>

                </div>

            </div>

            <div class="header-content">

                <nav class="header-menu mob-menu nz-clearfix">
                    <ul id="mob-header-menu" class="menu">
                        {% for navigation in system.navigations %}
                            <li><a href="{% url navigation.url %}">{{navigation.name}}</a></li>
                        {% endfor %}
                    </ul>
                </nav>

                <div class="search nz-clearfix">
                    <form action="#" method="get">
                        <fieldset>
                            <input type="text"  data-placeholder="Search..." value="Search..." />
                            <span class="icon-close"></span>
                            <input type="submit"  value="Search" />
                            <span class="icon-search2"></span>
                        </fieldset>
                    </form>
                </div>

            </div>

        </header>

        <header data-fixedh="70" class="header desk desk-height-90 desk-sl-true desk-sl-align-right desk-ls-false desk-di-false desk-fixed-true fixed-height-70 stuck-height-90 stuck-false effect-upperline sub-effect-ghost desk-sidebar-true top-false stuck-top-false menu-border-true">

            <div class="header-content">

                <div class="container nz-clearfix">

                    <div class="header-cont">

                        <div class="logo logo-desk">
                            <a href="{% url 'index' %}" title="Mobilz &#8211; Multipurpose HTML Them">
                                <img style="max-width:149px;max-height:36px;" src="{{MEDIA_URL}}{{ system.company.logo }}" alt="Mobilz &#8211; Multipurpose HTML Them">
                            </a>
                        </div>

                        <div class="logo logo-fixed">
                            <a href="{% url 'index' %}" title="Mobilz &#8211; Multipurpose HTML Them">
                                <img style="max-width:149px;max-height:36px;" src="{{MEDIA_URL}}{{ system.company.logo }}" alt="Mobilz &#8211; Multipurpose HTML Them">
                            </a>
                        </div>
                        <nav class="header-menu desk-menu nz-clearfix">
                            <ul  class="menu">
                                {% for navigation in system.navigations %}
                                    <li><a href="{% url navigation.url %}">{{navigation.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>

                    </div>

                </div>
            </div>

        </header>

        {% block content %}

        {% endblock %}
        <!-- footer start -->
        <footer class='footer'>
            <a class="icon-arrow-up7" id="top" href="#wrap"></a>
            <aside class="footer-widget-area widget-area">
                <div class="container nz-clearfix">
                    <div class="nz-row">
                        <div id="text-2" class="widget widget_text">
                            <div class="textwidget"><img src="{{MEDIA_URL}}{{ system.company.footer_logo }}" alt="Kapital">
                                <div class='gap nz-clearfix' style='height:25px'>&nbsp;</div>
                                {{ system.company.company_desc }}
                                <div class='gap nz-clearfix' style='height:25px'>&nbsp;</div>
                                <div class="nz-sl social-links nz-clearfix left">
                                    <a class="icon-facebook" href="#" target="_self">
                                        <span class="bubble">Wechat</span></a>
                                    <a class="icon-twitter" href="#" target="_self">
                                        <span class="bubble">QQ</span></a>
                                </div>
                            </div>
                        </div>
                        <div id="twitter-2" class="widget widget_twitter">
                            <h6 class="widget_title">最近新闻</h6>
                            <div class="twitter">
                                <ul>
                                    {% for new in system.news %}
                                        <li>
                                            <p>
                                                {{new.title}} </p>
                                            <a class="tweet-time" href="{% url 'news:detail' new.id %}">{{new.add_time}} </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                        <div id="nz-recent-posts-2" class="widget widget_nz_recent_entries">
                            <h6 class="widget_title">最新产品</h6>
                            <ul>
                                {% for product in system.products %}
                                    <li>
                                        <a class="nz-more" href="{% url 'products:detail' product.id %}">
                                            <div class="nz-thumbnail">
                                                <img width="150" height="150" src="{{MEDIA_URL}}{{ product.image }}" class="attachment-thumbnail wp-post-image" alt="blog1" />
                                                <div class="ninzio-overlay"></div>
                                            </div>
                                        </a>
                                        <div class="post-body">
                                            <a class="post-title" href="{% url 'products:detail' product.id %}">{{product.name}}</a>
                                            <span>{{product.add_time}}</span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="text-3" class="widget widget_text">
                            <h6 class="widget_title">联系我们</h6>
                            <div class="textwidget">
                                <div role="form" class="wpcf7" id="wpcf7-f4-o1" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form id="jsStayForm">

                                        <p><span class="wpcf7-form-control-wrap your-name">
											<input name="name"  type="text" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="姓名" /></span><span class="wpcf7-form-control-wrap your-email">
											<input name="mobile" type="text"  value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email" aria-invalid="false" placeholder="手机号码" /></span><span class="wpcf7-form-control-wrap your-message">
											<textarea name="content" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="内容"></textarea></span>
                                            <input type="submit" value="提交"  id="jsStayBtn">
                                        </p>
                                        {% csrf_token %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="footer-content">
                <div class="container nz-clearfix">
{#                    <div class="social-links">#}
{#                        <a class="icon-facebook5" href="#" title="facebook" target="_blank"></a>#}
{#                        <a class="icon-twitter4" href="#" title="twitter" target="_blank"></a>#}
{#                    </div>#}
                    <nav class="footer-menu nz-clearfix">
                        <ul id="footer-menu" class="menu">
                            {% for navigation in system.navigations %}
                                <li id="menu-item-141" class="menu-item-141"><a href="{% url navigation.url %}">{{navigation.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <div class="footer-info">
                        <span style="font-size:14px">© {{system.company.footer_desc}}<span style="color: #00a388">♥</span></span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end -->



    </div>
    <!-- wrap end -->
</div>

<!--<script src="http://ditu.google.cn/maps/api/js?sensor=true"></script>-->
<script type='text/javascript' src='{% static 'js/jquery/jquery.js' %}'></script>
<script type='text/javascript' src='{% static 'js/jquery/jquery-migrate.min.js' %}'></script>
<script type='text/javascript' src='{% static 'js/modernizr.js' %}'></script>

<script type='text/javascript' src='{% static 'js/jquery-blockui/jquery.blockUI.min.js' %}'></script>

<script type='text/javascript' src='{% static 'js/frontend/woocommerce.min.js' %}'></script>
<script type='text/javascript' src='{% static 'js/jquery-cookie/jquery.cookie.min.js' %}'></script>

<script type='text/javascript' src='{% static 'js/jquery.shuffle.js' %}'></script>
<script type='text/javascript' src='{% static 'js/plugins.js' %}'></script>
<script type='text/javascript' src='{% static 'js/controller.js' %}'></script>
<script type='text/javascript' src='{% static 'js/js_composer_front.js' %}'></script>
<script type='text/javascript' src='{% static 'js/contact-form.js' %}'></script>

<script>

    $(function () {
        $('#jsStayBtn').on('click', function () {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url "companys:user_message" %}",
                data: $('#jsStayForm').serialize(),
                async: true,
                success: function (data) {
                    if (data.status == 'success') {
                        alert("内容已提交，公司会尽快反馈, 请耐心等待~~")
                        window.location.reload();
                    } else if (data.status == 'fail') {
                        alert("提交失败, 内容填写错误！")
                    }
                },
            });
        });
    })

</script>
{% block custom_js %}{% endblock %}
</body>
</html>