{% extends 'base.html' %}
{% load static %}
{% block title %}{{ system.company.company_name }}{% endblock %}
{% block content %}
    <section class="row page-cover">
        <div class="container">
            <h2 class="page-title">{{system.company.notice_title}}</h2>
            <h4 class="page-subtitle">{{system.company.notice_content}}</h4>
        </div>
    </section>

    <section class="row breadcrumb-row">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">首页</a></li>
                <li class="active">联系我们</li>
            </ol>
        </div>
    </section>

    <section class="row contact-form-area site-contents">
        <div class="container">
            <h2 class="section-title">联系我们</h2>
            <p>如果你对我们的网站有啥意见或者建议请联系我们; 如果你想购买我们的产品也请联系我们，左边是在线留言，右边是联系电话和公司地址.</p>
            <div class="row">
                <div class="col-md-8">
                    <form action="contact_process.php" class="row contact-form" id="contactForm">
                        <input type="text" class="form-control" id="name" name="name" placeholder="姓名">
                        <input type="email" class="form-control" id="email" name="email" placeholder="手机">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="标题">
                        <textarea class="form-control" id="message" name="message" placeholder="内容"></textarea>
                        <input type="submit" value="马上提交" class="btn btn-primary contact-submit">
                    </form>

                </div>
                <div class="col-md-4">
                    <div class="emmergency-contact-numbers row">
                        <div class="emmergency-contact-number row">
                            <h4 class="this-title">公司 <span>办公地址</span></h4>
                            <p>{{system.company.address_province}}{{ system.company.address_street }}</p>
                            <a href="#" class="callto-number">{{system.company.phone}}</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}