{% extends 'base.html' %}
{% load static %}
{% block title %}{{ system.company.company_name }}{% endblock %}
{% block content %}

    <div id="minimal-bootstrap-carousel" class="carousel slide carousel-fade shop-slider" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for banner in all_banners %}
                <div class="item {% ifequal forloop.counter 1 %}active{% endifequal %} slide-{{forloop.counter}}" style="background-image: url({{MEDIA_URL}}{{ banner.image }});backgroudn-position: center right;">

                    <div class="carousel-caption">
                        <div class="thm-container">
                            <div class="box valign-top">
                                <div class="{% if forloop.counter == 1 %}content text-left pull-right{% elif forloop.counter == 2 %}content text-left{% else %}content text-left{% endif %}">
                                    <h3 data-animation="animated fadeInUp" class="this-ttitle blue">{{banner.desc_1}}</h3>
                                    <h2 data-animation="animated {% if forloop.counter == 1 %}fadeInDown{% elif forloop.counter == 2 %}fadeInUp{% else %}fadeInDown{% endif %}" class="this-mtitle">{{banner.desc_2}}</h2>
                                    <ul data-animation="animated {% if forloop.counter == 1 %}fadeInLeft{% elif forloop.counter == 2 %}fadeInDown{% else %}fadeInRight{% endif %}" class="nav slider-list">
                                        {{banner.desc_3}}
                                    </ul>
                                    <a data-animation="animated fadeInRight" href="#" class="btn btn-big btn-primary">联系我们</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            <span class="sr-only">上页</span>
        </a>
        <a class="right carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
            <span class="sr-only">下页</span>
        </a>
    </div>



    <section class="row welcome-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 welcome-textss">
                    <h2 class="this-title">公司<span>简介</span></h2>
                    <p>{{system.company.company_desc}}</p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="welcome-box">
                            <img src="{% static 'images/welcome1.jpg' %}" alt="" class="img-responsive">
                            <h3 class="this-title">公司经营产品</h3>
                            <p>公司主要经营能源，天然气，圣诞节福克斯进度款房间都开发发送到发送到发斯蒂芬斯蒂芬是。</p>
                            <a href="services.html">查看更多 >></a>
                        </div>
                        <div class="welcome-box">
                            <img src="{% static 'images/welcome2.jpg' %}" alt="" class="img-responsive">
                            <h3 class="this-title">公司动态新闻</h3>
                            <p>公司门户网站2020年4月26日正式上线了，开发就是肯定积分开始的姐夫看电视发的说法是的发多少第三方士大夫士大夫士大夫.</p>
                            <a href="services.html">查看更多 >></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row service-offers">
        <div class="container">
            <h2 class="section-title">中昊和能提供以下服务</h2>
            <div class="row">
                <div class="service-offer-carousel">
                    {% for circle in circle_items %}
                        <div class="item service-offered">
                            <div class="so-icon"><img src="{{MEDIA_URL}}{{ circle.icon }}" alt=""></div>
                            <a class="this-title" href="#">{{circle.title}}</a>
                            <p>{{circle.desc}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="row latest-projects">
        <div class="container">
            <h2 class="section-title">公司环节</h2>
            <div class="row">

                {% for product in products %}

                    <div class="col-md-4 col-sm-6 service-grid">
{#                        <div class="featured-image">#}
                            <img data-action="zoom" src="{{MEDIA_URL}}{{ product.image }}" alt="" height="210">
{#                        </div>#}
                        <h3 class="this-title" style="text-align: center;"><a href="#">{{product.name}}</a></h3>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

