{% extends 'base.html' %}
{% load static %}
{% block title %}{{ system.company.company_name }}{% endblock %}
{% block custom_css %}
    <link rel='stylesheet' href='{% static 'css/jobs.css' %}' type='text/css' media='all' />
{% endblock %}
{% block content %}
    <section class="row page-cover">
        <div class="container">
            <h2 class="page-title">{{system.company.notice_title}}</h2>
            <h4 class="page-subtitle">{{system.company.notice_content}}</h4>
        </div>
    </section>

    <section class="row breadcrumb-row">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">首页</a></li>
                <li class="active">人才招聘</li>
            </ol>
        </div>
    </section>
    <section class="row site-contents">
        <div class="container">
            {% for position in all_positions %}
                <div style="display: block;"><p>
                    <strong><font color="#00A388">招聘职位： {{position.name}}</font></strong><br>
                    <strong><font color="#00A388">岗位描述：</font></strong> {{position.desc}}<br>
                    <strong><font color="#00A388">相关要求：</font></strong> {{position.detail}}</p>
                    <p>
                        <strong>人力资源联系电话：<font color="#00A388">{{position.mobile}}</font></strong><br>
                        &nbsp;</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}