{% extends 'base.html' %}
{% load static %}
{% block title %}{{ system.company.company_name }}{% endblock %}
{% block custom_css %}
    <link rel='stylesheet' href='{% static 'css/pagination.css' %}' type='text/css' media='all' />
     <link rel='stylesheet' href='{% static 'css/news.css' %}' type='text/css' media='all' />
{% endblock %}
{% block content %}
    <section class="row page-cover">
        <div class="container">
            <h2 class="page-title">{{system.company.notice_title}}</h2>
            <h4 class="page-subtitle">{{system.company.notice_content}}</h4>
        </div>
    </section>

    <section class="row breadcrumb-row">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">首页</a></li>
                <li class="active">新闻动态</li>
            </ol>
        </div>
    </section>

    <section class="row services-contents site-contents FrontNews">
        <div class="container">
             <ul class="comstyle newslist-01">
                {% for news in all_news.object_list %}
                    <li class="content column-num1">
                        <div class="newstitle">
                            <ul>
                                <li class="title">
                                    <h3>
                                        <a href="{% url 'news:detail' news.id %}">{{news.title}}</a>
                                    </h3>
                                </li>
                                <li class="date"><span>发布时间：</span>{{news.add_time}}
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="clearBoth"></li>
                {% endfor %}
            </ul>
            <div style="display: flex; margin-top: 30px; justify-content: space-between">
                <div style="margin-left: 10px;">
                    当前显示1-20条共{{total}}条
                </div>
                <div>
                    <div class="pagination">
                        <a href="?{{ all_news.previous_page_number.querystring }}"><span class="{% if not all_news.has_previous %}disabled{% endif %}" title="上一页">上一页</span></a>
                        {% for page in all_news.pages %}
                            {% ifequal page all_news.number %}
                                <a href="?{{ page.querystring }}"><span class="current">{{ page }}</span></a>
                            {% else %}
                                <a href="?{{ page.querystring }}"><span>{{ page }}</span></a>
                            {% endifequal %}

                        {% endfor %}

                        <a href="?{{ all_news.next_page_number.querystring }}">
                            <span class="{% if not all_news.has_next %}disabled{% endif %}">下一页</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}