{% extends 'other-base.html' %}
{% load static %}
{% block title %}{{ system.company.company_name }}{% endblock %}
{% block custom_css %}
    <link rel='stylesheet' href='{% static 'css/news.css' %}' type='text/css' media='all' />
{% endblock %}
{% block content %}
    <div class="newsContent">
        <div id="newsdetailshow">
            <h2>{{news.title}}</h2>
            <div class="message">
   <span class="date"><em>日期：</em>{{news.add_time}}
</span>
            </div>
            <div class="summary">
            </div>
            <div class="describe htmledit" id="infoContent"><p align="left" style="text-align: left; text-indent: 24pt;">
                {{ news.content }}
            </div>
            <p>
            </p>
        </div>
    </div>
{% endblock %}