{% extends 'base.html' %}
{% load static %}
{% block title %}{{ system.company.company_name }}{% endblock %}
{% block content %}
    <section class="row page-cover">
        <div class="container">
            <h2 class="page-title">{{system.company.notice_title}}</h2>
            <h4 class="page-subtitle">{{system.company.notice_content}}</h4>
        </div>
    </section>

    <section class="row breadcrumb-row">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">首页</a></li>
                <li class="active">产品展示</li>
            </ol>
        </div>
    </section>

    <section class="row services-contents site-contents">
        <div class="container">
            <div class="row">

                {% for product in products.object_list %}

                    <div class="col-md-4 col-sm-6 service-grid">
                        <a href="{% url 'products:detail' product.id %}" class="featured-image">
                            <img src="{{MEDIA_URL}}{{ product.image }}" alt="" height="210">
                        </a>
                        <h3 class="this-title" style="text-align: center"><a href="{% url 'products:detail' product.id %}">{{product.name}}</a></h3>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}