{% extends 'base.html' %}
{% load static %}
{% block title %}{{ system.company.company_name }}-报名窗口{% endblock %}
{% block custom_css %}
    <link href="{% static 'css/report.css' %}" rel='stylesheet' type='text/css' />
{% endblock %}
{% block content %}
    <section class="row contact-form-area site-contents">
        <div class="container">
            <h2 class="section-title">在线报名</h2>
            <p>请在线提交相关信息，提交成功后，管理员会审核，资料审核通过后，请留意手机短信或者电话.</p>
            <div class="row">
                <div class="col-md-8">

                    <form action="{% url 'reports:info' %}" method="post" class="row contact-form" enctype="multipart/form-data">
                        <input type="text" class="form-control" id="name" name="name" placeholder="姓名">
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="电话">
                        <input type="text" class="form-control" id="address" name="address" placeholder="地址">
                        <input type="text" class="form-control" id="school" name="school" placeholder="所报学校">
                        <input type="text" class="form-control" id="major" name="major" placeholder="所报专业">
                        <select id="type" name="type" class="form-control">
                            <option value="0">自考</option>
                            <option value="1">成教</option>
                            <option value="2">国开</option>
                        </select>
                        <div  style="display: flex;">
                            <label style="width: 100px; margin-top: 10px;">身份证正面</label>
                            <input type="file"  class="form-control" accept="image/*" name="identity_card1" id="identity_card1"/>
                        </div>
                         <div  style="display: flex;">
                            <label style="width: 100px; margin-top: 10px;">身份证背面</label>
                            <input type="file"  class="form-control" accept="image/*" name="identity_card2" id="identity_card2"/>
                        </div>
                         <div  style="display: flex;">
                            <label style="width: 100px; margin-top: 10px;">毕业证</label>
                            <input type="file"  class="form-control" accept="image/*" name="graduate_photo" id="graduate_photo"/>
                        </div>
                        <input type="submit"  value="提交资料" class="btn btn-default btn-lg">
                        {% csrf_token %}
                    </form>

                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block custom_js %}
    <script>
        $(function () {
            $('#jsStayBtn').on('click', function () {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "{% url "reports:info" %}",
                    data: $('#jsStayForm').serialize(),
                    async: true,
                    success: function (data) {
                        if (data.status == 'success') {
                            alert(data.msg);
                            window.location.reload();
                        } else if (data.status == 'fail') {
                            alert(data.msg);
                        }
                    },
                });
            });
        })
    </script>

{% endblock %}