<!DOCTYPE html>
<html lang="en">
<head>
    {% load  static %}
        <link rel="stylesheet" href="{% static 'css/pagination.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <!-- pagination -->
              <ul class="pagination">
                <li> <a href="#" aria-label="Previous"> <i class="fa fa-angle-left"></i> </a> </li>
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li> <a href="#" aria-label="Next"> <i class="fa fa-angle-right"></i> </a> </li>
              </ul>
</body>
</html>